:root {
    --mainColor: #e5a124;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    height: 100vh;
}
.projectBanner {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: span 3;
    background-color: var(--mainColor);
}
  
  /* adjust logo size */
.logo {
    width: 30%;
    min-width: 100px;

}

.userName {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: span 3;
    background-color: var(--mainColor);
}

.parameters {
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-column-start: span 3;
    background-color: var(--mainColor);
}

.parameters p {
    text-align: center;
}

.ellipse1 {
    grid-column-start: 2;
    grid-row-start: 4;
    align-items: center;
    justify-content: center;
    display : flex;
    width: 200%;
    margin-top: -20%;
    margin-left: -50%;
    border-radius: 50%;
    background: #6D5623;
}


.ellipse1::before {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.ellipse4 {
    grid-column-start: 1;
    grid-row-start: 5;
}

.navigation {
    grid-column-start: 3;
    grid-row-start: 5;
}