:root {
  --mainColor: #e5a124;
}

/* navbar */ 
nav 
{
    margin: 50px auto;
    width: 50%;
    height: 100px;
    background: #e5a124;
}
 
nav .main_pages 
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
 
nav .main_pages a 
{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    text-decoration: none;
    font-family: 'Teko', sans-serif;
    color: white;
}
 
nav a:hover 
{
    background: #5A5766
}

label, #toggle
{
    display: none;
}
 
@media all and (max-width: 991px)
{
    nav
    {
        height: 40px;
    }
 
    nav .main_pages 
    {
        display: none;
        position: absolute;
        text-align: center;
        flex-direction: column;
        background: #48435C;
        height: 180px;
        width: 150px;
        margin-left: -5%;
        font-size: 30px;
    }
 
    nav .main_pages a {
        width: 50%;
    }
 
    label 
    {
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        font-size: 40px;
        color: white;
        cursor: pointer;
    }
 
    #toggle:checked + .main_pages {
        display: flex;
    }
}
/* CSS for authentifcation page */

body {
  font-family: 'Teko', sans-serif;
  align-items: center;
  background-color: var(--mainColor);
  justify-content: center;
  padding: 1rem;
}

.form {
  text-align: center;
  color:black;
  border: none;
  padding: 1rem;
  grid-column: span 3;
  grid-row-start: 2;
  grid-row-end: 5;
}

#signup {
  margin-top: 30px;
  background-color: white;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  border: none;
  padding: 1rem;
}

#login {
  margin-top: 40px;
  background-color: white;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  border: none;
  padding: 1rem;
}

.field-wrap {
  display: flex;
  justify-content: center;
  border: none;
  padding: 1rem;
}

input {
  margin-top: -20px;
  display: flex;
  background-color: #f4efe6;
  border: none;
  border-radius: 5px;
  width: 300px;
  height:30px;
  align-items: center;
}

.loginButton {
  width: 100px;
  background-color: #e5a124;
  border-color: #f4efe6;
  border-radius: 5px;
  height: 30px;
}


/* CSS for main page */

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.25fr 0.25fr 0.5fr 1fr;
}
.projectBanner {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2;
  background-color: var(--mainColor);
  border-bottom: 2px solid;
  margin: 0;
}

/* adjust logo size */
.logo {
  width: 35%;
  min-width: 100px;
  margin: 0
}

.userName {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-start: span 3;
  background-color: var(--mainColor);
  font-size: 30px;
}

.userName h2 {
    margin:5%;
  }

.parameters {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  grid-column-start: span 3;
  background-color: var(--mainColor);
}

.parameters h3 {
    font-size: 35px;
    margin-bottom: 5%;
  }

.parameters p {
  text-align: center;
  font-size: 50px;
  margin: 0 0% 0 0%;
}

.ellipse1 {
    grid-column-start: span 4;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 250px;
    height: 250px;
    margin: auto;
    border-radius: 50%;
    background: #6d5623;
}

/* .ellipse1::before,
.ellipse2::before,
.ellipse3::before,
.ellipse4::before,
.ellipse5::before,
#counterBtn::before {
  content: "";
  display: block;
  padding-bottom: 100%;
} */

.ellipse2 {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  background: #313123;
}

.ellipse3 {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  background: #141f23;
}

#counterBtn {
  align-items: center;
  justify-content: center;
  display: flex;
  color: black;
  font-size: 6rem;
  border-radius: 50%;
  width: 70%;
  height: 70%;
  background-color: #d9d9d9;
  border: none;
  padding:0;
}

#reductionBtn {
    align-items: center;
    justify-content: center;
    display: flex;
    color: black;
    font-size: 1.5em;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #d9d9d9;
    border: none;
    padding:0;
  }

  .ellipse4 {
    margin-left: 5px;
    grid-column-start: 1;
    grid-row-start: 5;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #6d5623;
    margin-bottom: 5px;
  }


.ellipse5 {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  background: #313123;
}



.jackpot {
  grid-column: span 3;
  text-align: center;
}

.chart {
  grid-column: span 3;
}


/* rewards */ 

.todo-app {
  align-items: center;
  background: #fff;
  opacity: 0.8;
  padding: 15px 15px;
  border-radius: 10px;
  color: black;
}

.todo-app h2 {
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}


ul li {
  list-style: none;
  font-size: 1rem;
  padding: 15px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
}

ul li::before {
  content: '';
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url(banque_image/radio.png);
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 8px;
}

ul li span {
  position: absolute;
  right: 0;
  top: 3px;
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
  color: #555;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}

ul li span:hover {
  background: #edeef0;
}
